@import "tailwindcss";

:root {
  --base-text-color: #9ca3af;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

/* Themes */

.light {
  --text-color: #000000;
  --bg-color: #ffffff;

  --button-bg-color: #000000;
  --button-text-color: #ffffff;
}

.dark {
  --text-color: #ffffff;
  --bg-color: #1c1c1c;

  --button-bg-color: #ffffff;
  --button-text-color: #000000;
}

/* Anmations */
.bg-rainbow-gradient {
  background: linear-gradient(160deg, #fff89a, #ff85ae, #9925ff);
  background-position: left;
  background-size: 160%;
  transition: background-position 0.5s ease-out;
}

.bg-rainbow-gradient:hover {
  background-position: right;
}

.text-rainbow-gradient {
  display: inline-block;
  background: linear-gradient(155deg, #fff89a, #ff85ae, #9925ff);
  background-size: 200%;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s ease-out;
}

.text-rainbow-gradient:hover {
  background-position: right;
}
