@import "tailwindcss";

:root {
  --base-text-color: #9ca3af;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  background: var(--bg-color);
  color: var(--text-color);
}

/* Temas */

.light {
  --text-color: #000000;
  --bg-color: #ffffff;

  --button-bg-color: #000000;
  --button-text-color: #ffffff;
}

.dark {
  --text-color: #ffffff;
  --bg-color: #1c1c1c;

  --button-bg-color: #ffffff;
  --button-text-color: #000000;
}

/* Backgrounds */
.bg-rainbow-gradient {
  background: linear-gradient(to bottom right, #fff89a, #ff85ae, #9925ff);
}

.transparenta {
  color: black;
  background-color: #ffffff3f;
}
