@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --base-text-color: #9ca3af;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 1.25rem;
  color: var(--base-text-color);
}

.bg-rainbow-gradient {
  background: linear-gradient(to bottom right, #fff89a, #ff85ae, #9925ff);
}

.light {
  color: black;
  background-color: white;
}

.dark {
  color: white;
  background-color: black;
}

.transparent {
  color: black;
  background-color: #ffffff3f;
}
