@import "tailwindcss";

:root {
  --base-neutral-color: #9ca3af;
}

body,
option {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

h3,
h4,
h5,
h6,
p,
label {
  transition: all 0.5s ease-in-out;
  transition-delay: 0.6s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-jetbrains-mono {
  font-family: var(--jetbrains-mono);
  word-spacing: -6px;
  transform: scaleY(0.9);
}

/* Themes */

.light {
  --text-color: #252525;
  --bg-color: #ffffff;

  --bg-color-invert: #000000;
  --text-color-invert: #f5f5f5;

  --shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.dark {
  --text-color: #f5f5f5;
  --bg-color: #1c1c1c;

  --bg-color-invert: #ffffff;
  --text-color-invert: #000000;

  --shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bg-multicolor {
  background: linear-gradient(200deg, #fff89a, #ff9bbd, #9925ff);
}

.base-shadow {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
/* Animations */

.bg-rainbow-gradient {
  background: linear-gradient(155deg, #fff89a, #ff9bbd, #9925ff);
  background-position: left;
  background-size: 150%;
  transition: background-position 0.7s ease-in-out;
}

.bg-rainbow-gradient:hover {
  background-position: right;
}

.text-rainbow-gradient {
  background: linear-gradient(155deg, #9925ff, #ff85ae, #ff7d03);
  background-size: 200%;
  background-position: left;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s ease-out;
}

.text-rainbow-gradient:hover {
  background-position: right;
}
